 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-Python-original-wordmark colored"></i>
      <i class="devicon-C-original-wordmark colored"></i>
      <i class="devicon-C++-plain-wordmark colored"></i>
      <p>Familiar with Python and C/C++.Checkout my projects in "Projects" Section</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <p>Experienced in using Git</p>
    </div>
</div>
