<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/space-invaders.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Space Invaders </h3>
    <ul>
      <li> Python | Pygame</li>
    </ul>
    <p>Pygame implementation of Arcade Game-Space Invaders-Group Project</p>
    <a class="project-link" href="https://github.com/mithun-m-nair/space-invaders-1">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/sudoku.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Sudoku Generator and Solver </h3>
    <ul>
      <li> Python</li>
    </ul>
    <p>A Simple Sudoku Generator and Solver made using Python</p>
    <a class="project-link" href="https://gist.github.com/mithun-m-nair/4c1db6b5ea9d02a4b9bb675d2b599850">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/2048.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> 2048 Game </h3>
    <ul>
      <li> Python | Pygame</li>
    </ul>
    <p>Python implementation of 2048 Game </p>
    <a class="project-link" href="https://gist.github.com/mithun-m-nair/65fd1c57fff9087ec160e06316266b7f">Check it out</a>
  </div>
</div>
